# Thư mục build và Visual Studio
.vs/
bin/
obj/

# Các file tạm của Visual Studio
*.user
*.suo
*.cache
*.pdb
*.ilk
*.log

#file appsettings
.\Project_Group3_SWD\appsettings.json

# Các file build
*.exe
*.dll
*.pdb
*.o
*.a
*.lib
*.so
*.out
